body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #1e1e1e;
  padding: 25px;
  border-radius: 8px;
  width: 300px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}
